<!-- show list of collaborators with form, post to collaborators/add, input text field for collaborator username, add/submit button -->
<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <a href="/wikis/<%= wiki.id %>" class="btn btn-primary">Back</a>
      <h1>Collaborators for "<%= wiki.title %>"</h1>
      <p class="text-muted">Creator User ID <%= wiki.userId %>, 
      <br />Last updated <%= wiki.updatedAt %></p>
      
        <h2>Add a Collaborator</h2>
      <% if(currentUser && (currentUser.id === wiki.userId || currentUser.role === 2)) { %>
        <form style="width:25%" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
            <div class="input-group">
                <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
                <button type="submit" class="btn btn-secondary">Add</button>
            </div>
        </form>
        <% } %>

        <% if(wiki.collaborators) { %>
        <ul class="list-group">
            <% wiki.collaborators.forEach((collaborator) => {  %>
            <li class="list-group-item">
                <h4>
                    <%= collaborator.User.username %>
                </h4>
                <% if(currentUser && (currentUser.id === wiki.userId || currentUser.role === 2)) { %>
                <form action="/wikis/<%= wiki.id %>/collaborators/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator">
                </form>
                <% } %>
            </li>
            <% }) %>
        </ul>
        <% } else { %>
          <p>No Collaborators yet for this wiki</p>
          <% } %>






      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
        <% if((currentUser && currentUser.role == 1) || (currentUser && currentUser.role == 2)) { 
            if(wiki.private == true) { %>
              <p>Want to make this Wiki public?</p>
              <form
        style="display:initial"
        action="/wikis/<%= wiki.id %>/makePublic"
        method="post"
      >
        <button type="submit" class="btn btn-info">Make Public</button>
      </form>
        <% } else if(wiki.private == false) { %>
          <p>Want to make this Wiki private?</p>
              <form
        style="display:initial"
        action="/wikis/<%= wiki.id %>/makePrivate"
        method="post"
      >
        <button type="submit" class="btn btn-info">Make Private</button>
      </form>
        <% } } %>


      <p><%- wiki.body %></p>

      <form
        style="display:initial"
        action="/wikis/<%= wiki.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
