<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <a href="/wikis" class="btn btn-primary">Back to All</a>
      <h1><%= wiki.title %></h1>
      <p class="text-muted">User ID <%= wiki.userId %>, 
      <% if(wiki.private == false) { %>
        public wiki 
      <% } else { %>
        private wiki
      <% } %>
      <br />Last updated <%= wiki.updatedAt %></p>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <p><%= wiki.body %></p>

      <form
        style="display:initial"
        action="/wikis/<%= wiki.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
